<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>netflix</display-name>
  <welcome-file-list>
    <welcome-file>netflix.jsp</welcome-file>
    
  </welcome-file-list>
  <!--
  <servlet>
  <servlet-name>net</servlet-name>
  <servlet-class>com.xworkz.netflix_app.netflix</servlet-class>
  
  <init-param>
  <param-name></param-name>
  <param-value></param-value>
  </init-param>
  <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>net</servlet-name>
  <url-pattern>/net</url-pattern>
  </servlet-mapping>
  
    -->
  <context-param>
  	<param-name>message</param-name>
  	<param-value>Enjoy movies only on netflix</param-value>
  
  </context-param>
  
</web-app>